<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <div *ngIf="message.type === 'text'" class="message-text">{{ message.content }}</div>
        <img *ngIf="message.type === 'image'" [src]="message.content" class="message-image" />
        <div *ngIf="message.type === 'recognizedText'" class="message-text">{{ message.content }}</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="loading" class="loader">
    <ion-spinner name="circles"></ion-spinner> Processing...
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
    <ion-button shape="round" class="btn" (click)="captureImage()">Capture Image</ion-button>
    <ion-button (click)="sendImageAndMessage()" [disabled]="!capturedImage || !newMessage">Send Image and Message</ion-button>
    <ion-button (click)="readText()" [disabled]="!recognizedText">Read Text</ion-button>
  </ion-toolbar>
</ion-footer>
